@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    color: #333;
    line-height: 1;
}

.inner {
    max-width: 1440px;
    width: calc(100% - 20px);
    margin: 0 auto;

}

/* 모바일 reset */

.mobile {
    display: none;
}

/* header */

header {
    height: 100px;
}

header .inner {
    max-width: calc(100% - 10%);
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 25px;
}

header .pc_gnb {
    height: 100%;

}

header .pc_gnb>ul {
    display: flex;
    height: 100%;
    font-size: 20px;
}

header .pc_gnb>ul>li {
    text-align: center;
    padding: 0 30px;
    position: relative;
}

header .pc_gnb>ul>li>a {
    /* line-height: 100px; */
    display: flex;
    align-items: center;
    /* 수직정렬 */
    justify-content: center;
    /* 수평정렬 */
    height: 100%;
    font-weight: bold;
    color: #7a6955;

}

/* 2차메뉴 */

header .pc_gnb>ul>li>ul {
    background-color: #7a6955;
    color: #fff;
    padding: 20px;
    font-size: 16px;
    display: none;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

header .pc_gnb>ul>li>ul>li {
    padding: 10px 0;
}

header .pc_gnb>ul>li>ul>li>a {}

/* 오른쪽 메뉴 */

header .user_gnb {
    display: flex;
    font-size: 14px;
    align-items: center;
}

header .user_gnb li {
    margin-left: 15px;
}

header .user_gnb li:last-child {
    border: 1px solid #7a6955;
    color: #7a6955;
    padding: 10px 20px;

}

/* 테두리 1px solid 
 글자색상 #7a6955 
 내부여백 위아래 10px 좌우 20px*/

.main_visual {
    height: calc(100vh - 100px);
    background-color: #eee;

}

.main_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* 해상도 1440px 이하 */

@media screen and (max-width:1440px) {
    header .inner {
        max-width: 98%;
        /* 1vw = 1% = 10px (약) */
    }

    header .h1 {
        font-size: 1.8vw;
    }

    header .pc_gnb>ul {
        font-size: 1.4vw;
    }

    header .pc_gnb>ul>li {
        padding: 0 15px;
    }



}

/* 해상도 1024px 이하 */

@media screen and (max-width:1024px) {
    .pc {
        display: none !important;

    }

    .mobile {
        display: block;
    }

    header .mobile_gnb {
        background-color: #ccc;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        padding: 50px;
        transition: 0.7s;

    }

    header .mobile_gnb.on {
        left: 0;
        transition: 0.7s;
    }

    .mobile_gnb .user_gnb {
        justify-content: flex-end;

    }

    /* 메뉴 */


    .mobile_gnb .gnb {}

    .mobile_gnb .gnb>li {}

    .mobile_gnb .gnb>li>a {
        font-size: 20px;
        font-weight: bold;
        padding: 20px 0;
        display: block;

    }

    /* 2차메뉴 */

    .mobile_gnb .gnb>li>ul {
        display: none;
    }

    .mobile_gnb .gnb>li>ul>li {}

    .mobile_gnb .gnb>li>ul>li>a {
        padding: 12px 0;
        display: block;
    }
}

/* 1024px 이하 */